<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashwood.ficby">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ficby_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ficby_launcher"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAjdthAXWqiXApMgUrw75WWCuwjywEkKz0" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".BandActivity" />
        <activity
            android:name=".ScanBTActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".BeaconActivity" />
        <activity android:name=".MoreActivity"></activity>
    </application>

</manifest>